@using Task.Infrastructure;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <input id="global-info" type="hidden" data-info='{"LinksPerPage": "@Constants.PAGER_NUMBER_OF_VISIBLE_LINKS"}' />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tipsy.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nanoscroller.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.hooks.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tipsy.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.nanoscroller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highlight-element.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/string.format.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pager/paging.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pager/paging-functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Delete/delete-girls-item.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Delete/delete-news-item.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Delete/delete-news-panel-item.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
</head>
<body>
    <div class="nano">
        <div class="content">
            <div id="header">
                @Html.Action("AccountPanel", "Account")
            </div>
            @RenderBody()
            @Html.Partial("_Footer")
            <div id="hidden-login" class="display-none">
                <div id="bg-site">
                </div>
                @Html.Action("LogOnPartial", "Account")
            </div>
        </div>
    </div>
</body>
</html>
